/* Define Color Variables */
:root {
    --primary-bg-color: #EEEEEE;
    --text-color: #222831;
    --nav-bg-color: #393E46;
    --nav-text-color: #EEEEEE;
    --main-text-color: #222831;
    --accent-color: #bd1515;
}

.logo{
    display: none;
    z-index: 1;
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    bottom: 50px;
    left: 0;
    width: 200px;
    height: auto;
    overflow: hidden;
}

/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

/* Navigation Bar Styles */
nav {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* Main Content Styles */
main {
    text-align: center;
    padding: 20px;
}

main h1, main p {
    color: var(--main-text-color);
}

main h1 {
    font-size: 40px;
}

main p {
    font-size: 20px;
}

main button {
    background-color: var(--accent-color);
    color: var(--nav-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

main button:hover {
    background-color: #5e0b0b;
    /*time change*/
    transition: 0.2s;

}

main button:active {
    background-color: #bd1515;
    transform: translateY(4px);
}

main button:focus {
    outline: none;
}

/* Timer Styles */
#timer {
    font-size: 50px;
    font-weight: bold;
    color: var(--main-text-color);
    margin: 20px 0;
}

.loadBar_container{
    width: 80%;
    height: 70px;
    background-color: #EEEEEE;
    border-radius: 5px;
    margin: 40px 10%;
    text-align: left;
}
.loadBar_bg {
    width: 100%;
    height: 70%;
    background-color: var(--nav-bg-color);
    border-radius: 5px;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

#loadBar_fg {
    position: relative;
    width: 98%;
    height: 66%;
    top: 17%;
    left: 1%;
    background-color: var(--accent-color);
    border-radius: 5px;
    margin: 0;
    padding: 0;
    transition: 1s;
}

.loadBar_bg:hover .loadBar_fg{
    background-color: #ea5353;
    transition: 0.3s;
}

.loadBar_bg:hover {
    background-color: var(--main-text-color);
    /*time change*/
    transition: 0.3s;
}

/*text in loadbar left*/
#loadBar_text {
    font-size: 18px;
    margin-bottom: 0;
    height: 30%;
    width: 100%;
    text-align: left;
}

/*more_text apears after click on StartButton*/
#more_text {
    position: absolute;
    background-color: #c5c5c5;
    width: 80%;
    left: 10%;
    height: 50%;
    top: 85px;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    display: none;
    border-radius: 0 0 30px 30px;
}


#settings_button {
     margin-left: 30px;
    background-color: var(--main-text-color);
}

/*settins*/
.settings_container {
    display: none;
    position: absolute;
    background-color: #c5c5c5;
    width: 70%;
    left: 15%;
    height: 70%;
    top : 15%;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    border-radius: 30px;
}


#settings_button_close{
    position: absolute;
    width: 40px;
    height: 40px;
    top : 30px;
    right: 30px;
    margin: 0;
    padding: 0;
    border-radius: 20%;
    border: none;
    cursor: pointer;
}

#settings_text_safari{
    position: absolute;
    width: 80%;
    bottom : 13px;
    left: 10%;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    font-size: 13px;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 20px;
    background: var(--nav-bg-color);
    opacity: 0.8;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 10px;
}
.slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      opacity: 1;
      background: var(--accent-color);
      cursor: pointer;
}
.slider::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--accent-color);
      cursor: pointer;
}

/*todo_container*/
.todo_container {
    display: flex;
    flex-wrap: wrap;
    left: 10%;
    height: 50vh;
    background-color: #dcdcdc;
    border-radius: 30px;
    margin: 50px;
}

.todo_item{
    margin: 10px;
    width: 220px;
    height: 120px;
    font-size: 15px;
    background-color: #EEEEEE;
    border-radius: 20px;
    text-align: center;
}

.todo_item_button{
    position: relative;
    text-align: left;
    right: 5px;
    top: 5px;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    background-color: #bd1515;
    border: none;
    cursor: pointer;
    float: right;
}

.todo_header{
    margin-top: 10px;
    width: 50%;
    font-size: 25px;
    margin-bottom: 0;
}

.todo_text{
    margin: 10px;
    left: 5%;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    overflow: hidden;
}




/*footer on the bottom of site*/
footer {
    position: fixed;
    text-align: center;
    padding: 10px;
    bottom: 0;
    font-size: 12px;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    width: 100%;
    left: 0;
}

footer a {
    color: var(--nav-text-color);
    text-decoration: none;
}
