<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PomodoroAPP</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/timer">Timer</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/stats">Shop</a></li>
        </ul>
    </nav>

    <main>
        <h1>Welcome to PomodoroAPP</h1>
        <p>you can boost your productivity by using this website</p>
        <p>earn tomatoes and exchange them</p>
    </main>

    <footer>
        <p>thanks for using. 2023 PomodoroAPP.</p>
    </footer>
</body>
</html>