<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PomodoroAPP</title>
    {% load static %} <!-- Django static files tag -->
    <link rel="stylesheet" href="{% static 'style.css' %}"> <!-- Correct static file path -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'timer' %}">Timer</a></li>
            <li><a href="{% url 'stats' %}">Stats</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
        </ul>
    </nav>

    <main>
        <h1>SHOP</h1>

    </main>

    <footer>
        <p>Thanks for using. 2023 PomodoroAPP.</p>
    </footer>
</body>
</html>