<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PomodoroAPP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/tomato.png' %}">
</head>
<body>
    <img src="{% static 'images/tomato.png' %}" alt="Logo" class="logo">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'timer' %}">Timer</a></li>
            <li><a href="{% url 'stats' %}">Stats</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
        </ul>
    </nav>

    <main>
        <h1>SHOP</h1>
        <p>money</p>

    </main>
    <footer>
        <p>Thanks for using. 2023 PomodoroAPP. Report issues <a href="https://github.com/HonzaSik">HERE</a>.</p>
    </footer>


</body>
</html>