<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PomodoroAPP</title>
    {% load static %} <!-- Django static files tag -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'images/tomato.png' %}">
</head>
<body>
    <img src="{% static 'images/tomato.png' %}" alt="Logo" class="logo">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'timer' %}">Timer</a></li>
            <li><a href="{% url 'stats' %}">Stats</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
        </ul>
    </nav>

    <main>
        <h1>Here are your stats.</h1>
        <p>Total completed: {{ counts }}</p>
        <p>Tomatoes balance: {{ tomatoes }}</p>
        <p>Money balance: {{ money }}</p>
    </main>

</body>
</html>