<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PomodoroAPP</title>
    {% load static %} <!-- Django static files tag -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/tomato.png' %}">
</head>
<body>
    <img src="{% static 'images/tomato.png' %}" alt="Logo" class="logo">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'timer' %}">Timer</a></li>
            <li><a href="{% url 'stats' %}">Stats</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
        </ul>
    </nav>

    <main>
        <h2 id="text">Pomodoro Timer</h2>
    <div id="timer">25:00</div>
    <div class="loadBar_container">
        <p id="loadBar_text">TIMER</p>
        <div class="loadBar_bg"><div id="loadBar_fg"></div></div>
    </div>
    <button id="startButton">Start</button>
    <button id="pauseButton">Pause</button>
    <button id="endButton">End</button>

    <button id="settings_button">Settings</button>
    <div class="settings_container" id="settings_container">
        <button id="settings_button_close">X</button>
        <div class="volume_container">
            <p>Coin volume</p>
            <input type="range" min="0" max="100" value="50" class="slider" id="coin_volume">
            <p>start volume</p>
            <input type="range" min="0" max="100" value="50" class="slider" id="start_volume">
            <p>end volume</p>
            <input type="range" min="0" max="100" value="50" class="slider" id="end_volume">
            <p id="settings_text_safari">* Sounds are not supported by the safari web browser. If you want them use another web browser. Thank you for your understanding.</p>
        </div>
    </div>

    <div class="todo_container">
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
        <div class="todo_item">
            <button class="todo_item_button">99</button>
            <p class="todo_header">todo</p>
            <p class="todo_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </div>
    </div>

    </main>

    <footer>
        <p>Thanks for using. 2023 PomodoroAPP. Report issues <a href="https://github.com/HonzaSik">HERE</a>.</p>
    </footer>

    <audio id="cutdownSound" src="{% static 'cutdown.mp3' %}" preload="auto"></audio>
    <audio id="completeSound" src="{% static 'complete.mp3' %}" preload="auto"></audio>
    <audio id="coinSound" src="{% static 'coin.mp3' %}" preload="auto"></audio>
    <script src="{% static 'timer.js' %}"></script>
</body>
</html>